@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Inter:wght@400;500;600&display=swap');

@layer base {
  body {
    @apply font-body text-text;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}
