@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Inter:wght@400;500;600&display=swap');

@layer base {
  body {
    @apply font-body text-text;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
  
  :root {
    --brand: 27 96% 61%;
    --brand-foreground: 31 97% 72%;
  }
  
  .dark {
    --brand: 31 97% 72%;
    --brand-foreground: 27 96% 61%;
  }
}

@layer utilities {
  .delay-100 {
    animation-delay: 100ms;
  }
  .delay-200 {
    animation-delay: 200ms;
  }
  .delay-300 {
    animation-delay: 300ms;
  }
  .delay-500 {
    animation-delay: 500ms;
  }
  .delay-700 {
    animation-delay: 700ms;
  }
  .fade-top-lg {
    mask-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1) 8rem);
  }
  .animate-in {
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
}
